

<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon matSuffix>menu</mat-icon>
  </button>
  <span>welcome {{ api.currentUser?.name }}</span>
  <button mat-icon-button (click)="open(list)" class="end">
    <img src="https://cdn3.vectorstock.com/i/1000x1000/06/22/flat-icon-of-add-friend-vector-14550622.jpg" class="userimg">
  </button>

    <div class="end">
      <img (click)="logoutModal(logoutContent)" src="https://miro.medium.com/max/800/1*peMgcGzIdn5O36ecjwrKxw.jpeg" width="100px" >
    </div>
 
</mat-toolbar>


<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>
    <mat-form-field>
      <input matInput placeholder="Search Conversations"  
      [(ngModel)]="userFilter.name"
      />
    </mat-form-field>

    <mat-list
      cdk-virtual-scroll-viewport
      itemSize="50"
      *ngIf="api.currentUser && api.currentUser.conversations"
    >
      <div class="selction"
        *ngFor="let x of api.currentUser.conversations | filterBy: userFilter"
        (click)="selectUser(x)"
      >
      <span>
        <img src="{{x.image ? x.image : 'https://ptetutorials.com/images/user-profile.png'}}"
        class="userimg"
        alt="{{ x?.name }}"/>
        <span  class="text-primary heading">{{ x?.name }}</span>
        </span>
      </div>
    </mat-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <div class="mesgs" id="container">
      <cdk-virtual-scroll-viewport
        itemSize="40"
        class="msg_history "
        *ngIf="showMessages"
      >
        <div *cdkVirtualFor="let x of messages; let i = index">
          <div class="incoming_msg" *ngIf="x.senderId !== api.currentUser.uid">
            <div class="incoming_msg_img">
              <img src="{{x.image ? x.image : 'https://ptetutorials.com/images/user-profile.png'}}"
              class="userimg"
              alt="{{ x?.name }}"/>
            </div>
            <div class="received_msg">
              <div class="received_withd_msg">
                <p>{{ x.content }}</p>
                <span
                  class="time_date"
                  id="{{ i == messages.length - 3 ? 'destination' : 'abc' }}"
                >
                  {{ x.timestamp.toDate() | date: "dd MMM hh:mm" }}</span
                >
              </div>
            </div>
          </div>

          <div class="outgoing_msg" *ngIf="x.senderId == api.currentUser.uid">
            <div class="sent_msg">
              <p>{{ x.content }}</p>
              <span
                class="time_date"
                id="{{ i == messages.length - 3 ? 'destination' : 'abc' }}"
              >
                {{ x.timestamp.toDate() | date: "dd MMM hh:mm" }}</span
              >
            </div>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>

      <div class="type_msg" *ngIf="showMessages">
        <div class="input_msg_write">
          <input
            mat-input
            type="text"
            placeholder="Type a message"
            [(ngModel)]="message"
            (keydown.enter)="sendMessage()"
          />
          <button
            class="msg_send_btn"
            type="button"
            (click)="sendMessage()"
            (keydown.enter)="sendMessage()"
          >
            <mat-icon matSuffix>send</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-drawer-container>




<ng-template #list>
  <mat-list role="list" cdk-virtual-scroll-viewport itemSize="10" *ngIf="users">
    <mat-form-field>
      <input matInput placeholder="Search user"  
      [(ngModel)]="alluserFilter.name"
      />
    </mat-form-field>
    <mat-list-item
      role="listitem"
      *ngFor="let x of users | filterBy: alluserFilter"
      (click)="selectUser(x)">
      <div>
      {{ x?.name }}
    </div>
    </mat-list-item>
  </mat-list>
</ng-template>




<ng-template #logoutContent>
  Are you sure you want to Log out? <br />
  <br />
  <button mat-button mat-raised-button color="warn" (click)="logout()">
    LOGOUT
  </button>
  <button mat-button (click)="closeModal()">cancel</button>
</ng-template>


